.image{
  height: 120px;
  width: 120px;
  float:left;
}
.menu{
text-align: center;
color: red;
}
.background{
background-image: url("/home/erick/Pictures/Wallpapers/uber_of_food_sharing_culture (1).jpg");
}
.colour{
  color: yellow;
}
.font{
  font-size: 15px;
  float: left;
}
